.slick-prev,
.slick-next
	&:before
		font: normal normal normal 14px/1 FontAwesome !important
		color: $Primary
		font-size: 25px !important
.slick-prev
	&:before
		content: $fa-var-chevron-left
.slick-next
	&:before
		content: $fa-var-chevron-right
